<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>To access the documentation press the following link:</h2> 
    <a href="http://localhost:3000/api">Documentation</a> <br><br>
    <a href="http://localhost:3000/api/anuncios">List json</a>

  </body>
</html>
